@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BH Test App for App Service CI/CD - 2</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    Today's Date is @DateTime.Now.ToString();
    <br />
    UtcNow is @DateTime.UtcNow.ToString()
    
</div>
